@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap&subset=latin-ext");
.to-top {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 90%;
  bottom: 5%;
  z-index: 9;
  cursor: pointer;
}

.brand {
  margin-left: 7rem;
}

#navbarSupportedContent {
  margin-right: 7rem;
}

.bg-costum {
  background-color: #f5fcfd;
}

.bg-home .navbar-nav .nav-link {
  font-size: 16px;
  color: #929292;
  font-weight: bold;
  line-height: 27px;
  margin-right: 25px;
}

.bg-home .navbar-nav .nav-link:hover {
  color: #0f7bff;
}

.bg-costum .navbar-nav .nav-link {
  font-size: 16px;
  color: #929292;
  font-weight: bold;
  line-height: 27px;
  margin-right: 25px;
}

.bg-costum .navbar-nav .nav-link:hover {
  color: #0f7bff;
}

.container-fluid {
  padding: 0px;
}

body {
  font-family: Quicksand, sans-serif;
}

.btn-sign-in, .btn-sign-up, .btn-sign-up-home {
  border-radius: 25px;
  background-color: #007bff;
  width: 165px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 27px;
  font-size: 16px;
}

.btn-sign-in:hover, .btn-sign-up:hover, .btn-sign-up-home:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #2274ee;
  border-color: #2274ee;
}

.btn-sign-up-home {
  background-color: #0063dd;
  margin-left: 1.5rem;
}

.btn-post {
  border-radius: 25px;
  width: 165px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-weight: bold;
  line-height: 27px;
  color: #007bff;
  border-color: #007bff;
}

.btn-post:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.logo {
  font-weight: bold;
  color: #007bff;
  font-size: 36px;
}

.block-dark {
  background-color: #f5fcfd;
}

.block-dark-blue {
  background-color: #0f7bff;
}

.main-text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
}

.facebook-btn, .twitter-btn {
  border-radius: 5px;
  max-width: 165px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
}

.facebook-btn {
  background-color: #3b5999;
  border-color: #3b5999;
}

.facebook-btn:hover {
  background-color: #336699;
  border-color: #336699;
}

.twitter-btn {
  background-color: #55acee;
  border-color: #55acee;
}

.twitter-btn:hover {
  background-color: #338acc;
  border-color: #338acc;
}

.btn-log-socety {
  padding: 0px;
}

footer ul, li {
  text-decoration: none;
  list-style: none;
  padding: 3% 0;
}

a {
  color: #0f7bff;
}

a:hover {
  text-decoration: none;
  color: #0f7bff;
}

footer a {
  color: #929292;
}

.footer {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

.footer-a {
  margin: 2rem;
}

.footer-ico {
  margin-right: 10px;
}

.socety-ico {
  margin-bottom: 120px;
}

.footer-h {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #333333;
}

.backround {
  background-color: #f5fcfd;
  margin-top: 7rem;
  padding-top: 5rem;
}

.margin {
  margin-top: 7rem;
}

hr {
  margin: 0;
}

.footer-ul {
  margin: 0;
}

.other {
  text-align: right;
}

.other-link-1 {
  padding-left: 1%;
}

.other-link-2 {
  padding-right: 1%;
}

#title-header {
  font-size: 42px;
  font-weight: 700;
  color: #333333;
}

.header {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  color: #333333;
  background-color: #f5fcfd;
  padding-top: 36px;
  padding-bottom: 36px;
}

.FAQ-main {
  margin-top: 5.7rem;
}

.FAQ-h4 {
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-top: 1.3rem;
}

.FAQ-sidebar {
  padding-top: 1.3rem;
}

.FAQ-sidebar .nav-link {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #333333;
}

.FAQ-sidebar .nav {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 0.25rem;
  border-color: #dcdcdc;
}

.FAQ-sidebar .nav-link {
  border-top: 1px solid;
  border-color: #dcdcdc;
  border-radius: 0px;
}

.FAQ-sidebar .active {
  border-radius: 0.25rem;
}

.btn-ye-no {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  width: 70px;
  height: 30px;
}

#help-this-post {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}

.blog-h4 {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

.blog-h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #333333;
}

.blog-h4 a {
  color: #333333;
}

.blog-h4 a:hover {
  color: #0f7bff;
}

.continue {
  color: #333333;
  font-weight: 500;
  line-height: 27px;
}

.continue:hover {
  color: #0f7bff;
}

.category {
  padding-left: 2rem;
}

.category-list {
  padding-left: 0;
}

.blog-tag {
  border-radius: 14px;
  background-color: #ffffff;
  height: 28px;
  line-height: 20px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 3px;
  padding-bottom: 3px;
}

.tags {
  color: #333333;
  font-weight: 500;
}

.tags .fab {
  color: #929292;
  margin-left: 5px;
}

.tags .fab:hover {
  color: #0f7bff;
}

.btn-tags {
  border-radius: 14px;
  background-color: #ffffff;
  height: 28px;
  line-height: 20px;
  margin-top: 15px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  color: #929292;
  border-color: #dcdcdc;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn-tags:hover {
  background-color: #0f7bff;
  border-color: #0f7bff;
}

.btn-tags:focus {
  border-color: #0f7bff;
  background-color: #0f7bff;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  border-color: #0f7bff;
  background-color: #0f7bff;
}

.page-link {
  color: #ffffff;
  background-color: #0f7bff;
  border: none;
  font-weight: 500;
  font-size: 22px;
}

.page-link:hover {
  background-color: #ffffff;
}

.blockquote p {
  color: #333333;
  font-size: 16px;
}

.search {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (max-width: 768px) {
  .other {
    text-align: center;
  }
  .other-1 {
    text-align: center;
  }
  #hr-home {
    width: 30rem;
  }
  .block-2-2 {
    top: 0;
  }
}

@media (max-width: 1590px) {
  .bg-1 {
    left: 0;
  }
  .text-bg-1 {
    left: 0;
  }
  .bg-2 {
    left: 0;
  }
  .text-bg-2 {
    left: 0;
  }
}

@media (min-width: 2000px) {
  .brand {
    margin-left: 25rem;
  }
  #navbarSupportedContent {
    margin-right: 25rem;
  }
  .to-top {
    left: 80%;
  }
}

@media (max-width: 992px) {
  .other {
    text-align: center;
  }
  .other-1 {
    text-align: center;
  }
  .to-top {
    bottom: 4%;
    left: 85%;
  }
  .brand {
    margin-left: 0;
  }
  #navbarSupportedContent {
    margin-right: 0;
  }
  .header {
    text-align: center;
  }
  .btn-sign-up-home {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .btn-log-socety {
    padding: 1rem;
  }
  .btn-sign-up, .btn-sign-up-home {
    margin: 0 auto;
  }
  .brand {
    padding-left: 0;
  }
  .to-top {
    display: none;
  }
  .footer-a {
    margin: 0.5rem;
  }
  .to-down {
    text-align: center;
  }
  .bg-1 {
    left: 0;
  }
  .text-bg-1 {
    left: 0;
  }
  .bg-2 {
    left: 0;
  }
  .text-bg-2 {
    left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1313px) {
  .to-top {
    left: 94%;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .brand-home {
    padding-right: 0;
    padding-left: 0;
  }
  .bg-home .navbar-nav .nav-link {
    margin-right: 10px;
  }
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  height: 60px;
  color: #929292;
  padding-left: 1.5rem;
}

.textarea {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  height: 60px;
  color: #929292;
  padding-left: 1.5rem;
}

.footer-home {
  margin: 1rem;
  color: #d8d8d8;
}

.footer-home:hover {
  color: #ffffff;
}

.backround-home {
  background-color: #0f7bff;
  padding-top: 7rem;
}

.form-footer {
  padding-bottom: 7rem;
}

.footer-text {
  color: #ffffff;
  font-size: 16px;
}

.foot-ico .fab {
  color: #d8d8d8;
}

.foot-ico .fab:hover {
  color: #ffffff;
}

.btn-subscribe {
  background-color: #ffffff;
  color: #0f7bff;
  font-size: 16px;
  font-weight: 700;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.btn-subscribe:hover {
  color: #0f7bff;
}

.backround-home input[type="email"] {
  color: #ffffff;
  background-color: #0f7bff;
  border: 2px solid #ffffff;
}

.backround-home input::-webkit-input-placeholder {
  color: #ffffff;
}

.backround-home input::-moz-placeholder {
  color: #ffffff;
}

.backround-home input:-ms-input-placeholder {
  color: #ffffff;
}

.logo-text {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}

.free-trial {
  background-color: #f5fcfd;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.free-trial h3 {
  font-size: 32px;
  color: #333333;
  font-weight: 500;
}

.btn-trial {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.title-h3 {
  font-size: 32px;
  font-weight: 500;
  color: #333333;
}

.title-backround {
  background-position: center;
  background-image: url(../img/title-h3.png);
  background-repeat: no-repeat;
}

.news-h3 {
  font-weight: 500;
  font-size: 24px;
  color: #0f7bff;
}

.continue-home {
  color: #0f7bff;
  font-weight: 500;
  font-size: 16px;
}

.latest-news {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.price {
  font-size: 32px;
  font-weight: 500;
  color: #0f7bff;
}

.dol {
  font-size: 16px;
  font-weight: 600;
}

.btn-prcing-plan {
  font-size: 16px;
  color: #0f7bff;
  font-weight: 700;
  border: 2px solid #0f7bff;
}

.btn-prcing-plan:hover {
  background-color: #0f7bff;
  border-color: #0f7bff;
}

.price-ul li {
  padding-bottom: 0;
}

.backround-2 {
  background-color: #f5fcfd;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.hdiw {
  background-color: #f5fcfd;
  padding-top: 6rem;
  padding-bottom: 7rem;
}

.backround-1 {
  background-color: #f5fcfd;
}

#hr-home {
  background-color: #0f7bff;
  top: 4.7rem;
}

#h1 {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
}

.home-img {
  background-color: #f5fcfd;
  background-image: url(../img/Shape_1.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.to-down {
  bottom: 2rem;
  cursor: pointer;
}

.home-device {
  margin-top: 6rem;
}

.block-2-2 {
  bottom: -3rem;
}

.block-home {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.logo-home {
  background-color: #0f7bff;
  color: #ffffff;
  font-size: 36px;
  padding-bottom: 1.7rem;
  font-weight: 700;
  border-radius: 0px 0px 20px 20px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
}

.logo-home:hover {
  color: #ffffff;
}

.bg-1 {
  right: 8rem;
}

.text-bg-1 {
  right: 6rem;
}

.bg-2 {
  right: -8rem;
}

.text-bg-2 {
  right: -6rem;
}

#foot-hr {
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */