@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap&subset=latin-ext");
.to-top {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 90%;
  bottom: 5%;
  z-index: 9;
  cursor: pointer;
}

.brand {
  margin-left: 7rem;
}

#navbarSupportedContent {
  margin-right: 7rem;
}

.bg-costum {
  background-color: #f5fcfd;
}

.bg-costum .navbar-nav .nav-link {
  font-size: 16px;
  color: #929292;
  font-weight: bold;
  line-height: 27px;
  margin-right: 25px;
}

.bg-costum .navbar-nav .nav-link:hover {
  color: #0f7bff;
}

.container-fluid {
  padding: 0px;
}

body {
  font-family: Quicksand, sans-serif;
}

.btn-sign-in, .btn-sign-up {
  border-radius: 25px;
  background-color: #0063dd;
  width: 165px;
  color: #ffffff;
  font-weight: bold;
  line-height: 27px;
}

.btn-sign-in:hover, .btn-sign-up:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #2274ee;
  border-color: #2274ee;
}

.logo {
  font-weight: bold;
  color: #007bff;
  font-size: 36px;
}

.block-dark {
  background-color: #f5fcfd;
}

.block-dark-blue {
  background-color: #0f7bff;
}

.main-text {
  color: #929292;
  font-size: 16px;
}

.facebook-btn, .twitter-btn {
  border-radius: 5px;
  max-width: 165px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
}

.facebook-btn {
  background-color: #3b5999;
  border-color: #3b5999;
}

.facebook-btn:hover {
  background-color: #336699;
  border-color: #336699;
}

.twitter-btn {
  background-color: #55acee;
  border-color: #55acee;
}

.twitter-btn:hover {
  background-color: #338acc;
  border-color: #338acc;
}

.btn-log-socety {
  padding: 0px;
}

footer ul, li {
  text-decoration: none;
  list-style: none;
  padding: 3% 0;
}

a:hover {
  text-decoration: none;
}

footer a {
  color: #929292;
}

footer a:hover {
  color: #0f7bff;
}

.footer {
  height: 100px;
}

.footer-a {
  margin: 2rem;
}

.footer-ico {
  margin-right: 10px;
}

.socety-ico {
  margin-bottom: 120px;
}

.footer-h {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #929292;
}

.backround {
  background-color: #f5fcfd;
  margin-top: 7rem;
  padding-top: 5rem;
}

.margin {
  margin-top: 7rem;
}

hr {
  margin: 0;
}

.footer-ul {
  margin: 0;
}

.other {
  text-align: right;
}

.other-link-1 {
  padding-left: 1%;
}

.other-link-2 {
  padding-right: 1%;
}

@media (max-width: 769px) {
  .other {
    text-align: center;
  }
  .other-1 {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .other {
    text-align: center;
  }
  .other-1 {
    text-align: center;
  }
  .to-top {
    bottom: 4%;
    left: 85%;
  }
}

@media (min-width: 2000px) {
  .brand {
    margin-left: 25rem;
  }
  #navbarSupportedContent {
    margin-right: 25rem;
  }
  .to-top {
    left: 80%;
  }
}

@media (max-width: 922px) {
  .brand {
    margin-left: 0;
  }
  #navbarSupportedContent {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .btn-log-socety {
    padding: 1rem;
  }
  .btn-sign-up {
    margin: 0 auto;
  }
  .brand {
    padding-left: 0;
  }
  .to-top {
    display: none;
  }
  .footer-a {
    margin: 0.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1313px) {
  .to-top {
    left: 94%;
  }
}
/*# sourceMappingURL=main.css.map */